
//mixin to create a React-transition-class
@mixin transition(
    $transitionName,
    $transitionProperties,
    $transitionDuration :$pt-transition-duration,
    $transitionEasing: $pt-transition-ease,
    $transitionDelay: 0,
    $before:"",
    $after:"",
) {
    @include each-prop($transitionProperties, 2);
    @include transition-phase(
        $transitionName, "enter", $transitionProperties,
        $transitionDuration, $transitionEasing, $transitionDelay,
        $before, $after
    );
    @include transition-phase(
        $transitionName, "exit", $transitionProperties,
        $transitionDuration, $transitionEasing, $transitionDelay,
        $before, $after
    );

}


//A mixin to generate the classes for one phase of a React CSSTransition.


@mixin transition-phase(
    $transitionName,
    $transitionPhase,
    $transitionProperties,
    $transitionDuration :$pt-transition-duration,
    $transitionEasing: $pt-transition-ease,
    $transitionDelay: 0,
    $before:"",
    $after:"",
){
    $start-index: 1;
    $end-index: 2;
    @if ($transitionPhase == "exit") {
        $start-index: 2;
        $end-index: 1;
      } @else if ($transitionPhase != "enter" and $transitionPhase != "appear") {
        @error "Unknown transition phase: #{$transitionPhase}. Expected appear|enter|exit.";
      }

    #{transition-name($transitionPhase, $transitionName, $before, $after)} {
    @include each-prop($transitionProperties, $start-index);
    }

    #{transition-name(#{$transitionPhase}-active, $transitionName, $before, $after)} {
        @include each-prop($transitionProperties, $end-index);
        transition-delay: $transitionDelay;
        transition-duration: $transitionDuration;
        transition-property: map-keys($transitionProperties);
        transition-timing-function: $transitionEasing;
      }
}


@mixin each-prop($properties, $index) {
    @each $prop, $values in $properties {
      #{$prop}: nth($values, $index);
    }
  }


  @function transition-name($transitionPhase, $transitionName, $before, $after) {
    $full-name: "#{$before}.#{$transitionName}-#{$transitionPhase}#{$after}";
  
    @if ($transitionPhase == "enter") {
      @return ($full-name, transition-name("appear", $transitionName, $before, $after));
    } @else if ($transitionPhase == "enter-active") {
      @return ($full-name, transition-name("appear-active", $transitionName, $before, $after));
    } @else {
      @return $full-name;
    }
  }